.showError {
    width: 100%;
    /* background: repeat red;*/
    padding-left: 16px;
    padding-bottom: 2px;
    /*font-weight: bold;*/
    color: red;
}
Label.error{
    width: 100%;
    /* background: repeat red;*/
    padding-left: 16px;
    padding-bottom: 2px;
    /*font-weight: bold;*/
    color: red;
    margin-bottom: 0px;
}
.login-layout .register-lab {
    margin-bottom: 3px;
}
.i-normal{
    font-style: normal;
    font-size: 12px;
    cursor: pointer;
}

a:hover{
    text-decoration: none;
}

.login-container .center h1 img{
    width: 50px;
}

.code{
    display: none !important;
}